@import '~antd/dist/antd.css';

.App {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.App-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: snow;
  font-size: 3em;
  margin: auto;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: snow;
  margin: auto;
}

.App-result {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.App-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: snow;
  margin: auto;
  height: 20vh;
}

.App-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: snow;
  margin: auto;
  height: 80vh;
}

.word {
  color: snow;
}

.menu {
  background-color: #282c34;
  border-color: #282c34;
}

.menu:hover {
  background-color: #282c34;
  border-color: #282c34;
}

.menu:focus {
  background-color: #282c34;
  border-color: #282c34;
}
