@import '~antd/dist/antd.css';

.App {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.App-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: snow;
  font-size: 3em;
  margin: auto;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: snow;
  margin: auto;
}

.named {
  background-color: red;
  border-color: red;
}

.named:hover {
  background-color: orangered;
  border-color: orangered;
}

.named:focus {
  background-color: orangered;
  border-color: orangered;
}

.anonymous {
  background-color: orange;
  border-color: orange;
}

.anonymous:hover {
  background-color: gold;
  border-color: gold;
}

.anonymous:focus {
  background-color: gold;
  border-color: gold;
}